In [1]:
import pandas as pd

df = pd.read_csv("/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_20/topics_20.csv")
df = df[["tweetid", "lang", "topics_0"]]

In [2]:
df_sentiments = pd.read_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Data/Sentiments/all_sentiments_2.csv"
)
df_sentiments = df_sentiments[
    ["tweetid", "tweetcreatedts", "sentiment_label", "lang", "weeks", "months"]
]

In [3]:
df_merged = df.merge(df_sentiments, left_on="tweetid", right_on="tweetid")

In [4]:
df_merged

,tweetid,lang_x,topics_0,tweetcreatedts,sentiment_label,lang_y,weeks,months
0,1.526352e+18,de,14,2022-05-17 00:00:34.000000,neutral,de,2022-20,2022-05
1,1.526352e+18,de,2,2022-05-17 00:01:11.000000,negative,de,2022-20,2022-05
2,1.526352e+18,de,3,2022-05-17 00:02:13.000000,neutral,de,2022-20,2022-05
3,1.526352e+18,de,9,2022-05-17 00:02:18.000000,negative,de,2022-20,2022-05
4,1.526353e+18,de,2,2022-05-17 00:03:32.000000,neutral,de,2022-20,2022-05
...,...,...,...,...,...,...,...,...
18289077,1.529948e+18,uk,2,2022-05-26 22:10:16.000000,neutral,uk,2022-21,2022-05
18289078,1.529949e+18,uk,8,2022-05-26 22:13:41.000000,neutral,uk,2022-21,2022-05
18289079,1.529954e+18,uk,17,2022-05-26 22:34:39.000000,negative,uk,2022-21,2022-05
18289080,1.529961e+18,uk,8,2022-05-26 23:01:20.000000,neutral,uk,2022-21,2022-05
18289081,1.529965e+18,uk,8,2022-05-26 23:16:33.000000,neutral,uk,2022-21,2022-05

In [17]:
from tqdm.auto import tqdm

tqdm.pandas()

df_merged = df_merged.assign(date=df_merged["tweetcreatedts"].str.slice(0, 10))

In [20]:
df_merged = df_merged[df_merged["date"].str.len() == 10]

In [26]:
df_merged = df_merged[
    (
        df_merged["date"].str.startswith("2022")
        | df_merged["date"].str.startswith("2023")
    )
]

In [27]:
df_merged = df_merged.assign(
    week=df_merged["date"]
    .progress_apply(pd.to_datetime)
    .apply(
        lambda x: (
            str(x.year) + "-" + str(x.week)
            if len(str(x.week)) == 2
            else str(x.year) + "-0" + str(x.week)
        )
    )
)

100%|██████████| 18289082/18289082 [26:59<00:00, 11293.60it/s]

In [63]:
df_merged

,tweetid,lang_x,topics_0,tweetcreatedts,sentiment_label,lang_y,weeks,months
0,1.526352e+18,de,14,2022-05-17 00:00:34.000000,neutral,de,2022-20,2022-05
1,1.526352e+18,de,2,2022-05-17 00:01:11.000000,negative,de,2022-20,2022-05
2,1.526352e+18,de,3,2022-05-17 00:02:13.000000,neutral,de,2022-20,2022-05
3,1.526352e+18,de,9,2022-05-17 00:02:18.000000,negative,de,2022-20,2022-05
4,1.526353e+18,de,2,2022-05-17 00:03:32.000000,neutral,de,2022-20,2022-05
...,...,...,...,...,...,...,...,...
18289077,1.529948e+18,uk,2,2022-05-26 22:10:16.000000,neutral,uk,2022-21,2022-05
18289078,1.529949e+18,uk,8,2022-05-26 22:13:41.000000,neutral,uk,2022-21,2022-05
18289079,1.529954e+18,uk,17,2022-05-26 22:34:39.000000,negative,uk,2022-21,2022-05
18289080,1.529961e+18,uk,8,2022-05-26 23:01:20.000000,neutral,uk,2022-21,2022-05
18289081,1.529965e+18,uk,8,2022-05-26 23:16:33.000000,neutral,uk,2022-21,2022-05

In [64]:
df_merged.to_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_20/week_sentiment_topic.csv"
)

In [65]:
import pandas as pd

df = pd.read_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_20/week_sentiment_topic.csv"
)

In [45]:
df["month"] = df["date"].str.slice(0, 7)

In [47]:
df["month"].unique()

array(['2022-05', '2022-07', '2023-05', '2022-09', '2023-03', '2022-12',
       '2022-10', '2023-01', '2022-03', '2022-11', '2023-02', '2023-04',
       '2022-06', '2022-08', '2022-04', '2023-06', '2022-02'],
      dtype=object)

In [15]:
df_sample = df.sample(1000000)

In [70]:
df

,Unnamed: 0,tweetid,lang_x,topics_0,tweetcreatedts,sentiment_label,lang_y,weeks,months
0,0,1.526352e+18,de,14,2022-05-17 00:00:34.000000,neutral,de,2022-20,2022-05
1,1,1.526352e+18,de,2,2022-05-17 00:01:11.000000,negative,de,2022-20,2022-05
2,2,1.526352e+18,de,3,2022-05-17 00:02:13.000000,neutral,de,2022-20,2022-05
3,3,1.526352e+18,de,9,2022-05-17 00:02:18.000000,negative,de,2022-20,2022-05
4,4,1.526353e+18,de,2,2022-05-17 00:03:32.000000,neutral,de,2022-20,2022-05
...,...,...,...,...,...,...,...,...,...
18289077,18289077,1.529948e+18,uk,2,2022-05-26 22:10:16.000000,neutral,uk,2022-21,2022-05
18289078,18289078,1.529949e+18,uk,8,2022-05-26 22:13:41.000000,neutral,uk,2022-21,2022-05
18289079,18289079,1.529954e+18,uk,17,2022-05-26 22:34:39.000000,negative,uk,2022-21,2022-05
18289080,18289080,1.529961e+18,uk,8,2022-05-26 23:01:20.000000,neutral,uk,2022-21,2022-05
18289081,18289081,1.529965e+18,uk,8,2022-05-26 23:16:33.000000,neutral,uk,2022-21,2022-05

In [68]:
df_agg_all = (
    df.groupby(["months", "lang_x", "topics_0", "sentiment_label"])
    .count()
    .reset_index()
    .rename(columns={"lang_x": "lang", "topics_0": "topic", "tweetid": "count"})[
        ["months", "lang", "topic", "sentiment_label", "count"]
    ]
)

In [72]:
df_agg_all["count"].sum()

18289082

In [73]:
df_agg_all.to_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_20/Topics_0/lang_topic_sentiment_agg.csv"
)

Aggregate Counts for TopicxLanguagexWeek and TopicxSentimentxWeek

In [5]:
df_merged

,tweetid,lang_x,topics_0,tweetcreatedts,sentiment_label,lang_y,weeks,months
0,1.526352e+18,de,14,2022-05-17 00:00:34.000000,neutral,de,2022-20,2022-05
1,1.526352e+18,de,2,2022-05-17 00:01:11.000000,negative,de,2022-20,2022-05
2,1.526352e+18,de,3,2022-05-17 00:02:13.000000,neutral,de,2022-20,2022-05
3,1.526352e+18,de,9,2022-05-17 00:02:18.000000,negative,de,2022-20,2022-05
4,1.526353e+18,de,2,2022-05-17 00:03:32.000000,neutral,de,2022-20,2022-05
...,...,...,...,...,...,...,...,...
18289077,1.529948e+18,uk,2,2022-05-26 22:10:16.000000,neutral,uk,2022-21,2022-05
18289078,1.529949e+18,uk,8,2022-05-26 22:13:41.000000,neutral,uk,2022-21,2022-05
18289079,1.529954e+18,uk,17,2022-05-26 22:34:39.000000,negative,uk,2022-21,2022-05
18289080,1.529961e+18,uk,8,2022-05-26 23:01:20.000000,neutral,uk,2022-21,2022-05
18289081,1.529965e+18,uk,8,2022-05-26 23:16:33.000000,neutral,uk,2022-21,2022-05

In [7]:
df_lang = (
    df_merged.groupby(["months", "topics_0", "lang_x"])
    .count()
    .reset_index()[["months", "topics_0", "lang_x", "tweetid"]]
    .rename(columns={"topics_0": "topic", "lang_x": "lang", "tweetid": "lang_count"})
)

In [8]:
df_lang.to_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_10/Topics_0/lang_agg.csv"
)

In [10]:
df_sentiment = (
    df_merged.groupby(["months", "topics_0", "sentiment_label"])
    .count()
    .reset_index()[["months", "topics_0", "tweetid", "sentiment_label"]]
    .rename(columns={"tweetid": "sentiment_count", "topics_0": "topic"})
)

In [11]:
df_sentiment.to_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_10/Topics_0/sentiments_agg.csv"
)

In [23]:
df.head()

,Unnamed: 0,tweetid,lang_x,topics_0,tweetcreatedts,sentiment_label,lang_y,date,week
0,0,1.526352e+18,de,4,2022-05-17 00:00:34.000000,neutral,de,2022-05-17,2022-20
1,1,1.526352e+18,de,8,2022-05-17 00:01:11.000000,negative,de,2022-05-17,2022-20
2,2,1.526352e+18,de,6,2022-05-17 00:02:13.000000,neutral,de,2022-05-17,2022-20
3,3,1.526352e+18,de,3,2022-05-17 00:02:18.000000,negative,de,2022-05-17,2022-20
4,4,1.526353e+18,de,9,2022-05-17 00:03:32.000000,neutral,de,2022-05-17,2022-20

In [26]:
df.groupby(["week", "topics_0"]).count().reset_index()[
    ["week", "topics_0", "tweetid"]
].rename(columns={"topics_0": "topic", "tweetid": "count"}).to_csv(
    "/Users/robinfeldmann/TopicAnalysisRUWTweets/Topics_10/Topics_0/count_agg.csv"
)